<p>Book was successfully created.</p>
<%@books.each do |book| %>

<table>
<tr><td>Title:</td><td><%= book.title %></td></tr>
<tr><td>Body:</td><td><%= book.body %></td></tr>
</table>
<% end %>

<a class="edit_73740" href="/books/73740/edit">Edit</a>
| 
<a class="back" href="/books">Back</a>
