<p id="notice">Book was successfully created.
</p>
<strong>Title</strong>
<p><%= @book.title %></p>

<strong>Body</strong>
<p><%= @book.body %></p>

<a class="edit_73740" href="/books/73740/edit">Edit</a>
| 
<a class="back" href="/books">Back</a>
